{% extends "layouts/base-sub.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h2>Tentang</h2>
			<p>Sekilas tentang</p>
		</header>

		<!-- Intro -->
		<div class="row">
			<section class="6u 12u$(medium)">
				<h2>Sistem Prediksi</h2>
				<p>
					Sistem prediksi penyakit jantung koroner berbasis website ini dibangun guna membangun kesadaran
					kesehatan jantung dan melakukan pencegahan dini serta segera melakukan perawatan jika terindikasi
					memiliki penyakit jantung
				</p>
			</section>
			<section class="6u 12u$(medium)">
				<h2>Untuk</h2>
				<ul class="alt">
					<li>Masyarakat umum</li>
					<li>Dokter</li>
					<li>Mahasiswa kedokteran</li>
				</ul>
			</section>
		</div>
	</div>

	</div>

</section>
{% endblock %}