{% extends "layouts/base-sub.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Penyakit jantung koroner</h2>
            <p>Informasi tentang penyakit jantung koroner</p>
        </header>

        <!-- Content -->
        <h2 id="content">Penyakit Jantung</h2>
        <p>
            Penyakit jantung adalah kondisi ketika jantung mengalami gangguan. Bentuk gangguan itu sendiri bisa
            bermacam-macam. Ada gangguan pada pembuluh darah jantung, irama jantung, katup jantung, atau gangguan
            akibat bawaan lahir.
        </p>
        <p>
            Jantung adalah otot yang terbagi menjadi empat ruang. Dua ruang terletak di bagian atas, yaitu atrium
            (serambi) kanan dan kiri. Sedangkan dua ruang lagi terletak di bagian bawah, yaitu ventrikel (bilik)
            kanan dan kiri. Antara ruang kanan dan kiri dipisahkan oleh dinding otot (septum) yang berfungsi
            mencegah tercampurnya darah yang kaya oksigen dengan darah yang miskin oksigen.
        </p>
        <p>Sumber: <a href="https://www.alodokter.com/penyakit-jantung">Aldodokter</a></p>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Jenis penyakit jantung</h3>
                <p>
                    Ada beberapa jenis penyakit jantung, antara lain
                </p>
                <dl>
                    <dt>Penyakit jantung koroner</dt>
                    <dd>
                        <p>Merupakan suatu penyakit jantung yang terjadi akibat penyempitan pembuluh darah di jantung.</p>
                    </dd>
                    <dt>Penyakit jantung bawaan</dt>
                    <dd>
                        <p>Penyakit jantung bawaan, merupakan suatu masalah jantung yang ditemukan sejak bayi, yang paling umum ditemukan adalah kebocoran katup jantung.</p>
                    </dd>
                    <dt>Infeksi jantung (endokarditis)</dt>
                    <dd>
                        <p>Infeksi jantung (endokarditis), merupakan suatu infeksi pada lapisan dalam jantung.
                            Gagal jantung, merupakan suatu kegagalan otot jantung untuk memompakan darah secara memadai ke seluruh tubuh.</p>
                    </dd>
                    <dt>Aritmia</dt>
                    <dd>
                        <p>Aritmia, merupakan suatu gangguan irama jantung yang menyebabkan denyut jantung tidak normal.</p>
                    </dd>
                </dl>
                <p>Sumber: <a href="https://www.halodoc.com/kesehatan/penyakit-jantung">Halodoc</a></p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Pencegahan</h3>
                <p>Pada penyakit jantung bawaan, upaya pencegahan yang efektif belum ditemukan hingga saat ini. Namun demikian, pada penyakit jantung koroner, gagal jantung, dan aritmia, beberapa upaya pencegahan dapat dilakukan, antara lain:</p>
                <ul class="alt">
                    <li>Mengonsumsi makanan tinggi serat, rendah gula, dan rendah lemak.</li>
                    <li>Menghentikan kebiasaan merokok dan menghindari paparan asap rokok.</li>
                    <li>Memeriksa tekanan darah, gula darah, dan kolesterol secara berkala.</li>
                    <li>Melakukan latihan fisik, seperti jogging, bersepeda, dan berenang, setidaknya 30 menit setiap hari.</li>
                </ul>
                <p>Sumber: <a href="https://www.halodoc.com/kesehatan/penyakit-jantung">Halodoc</a></p>
            </div>

        </div>

    </div>

</section>
{% endblock %}